/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 75%;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }

  .icon{
    border-radius: 50%;
    color: rgb(43, 76, 137);
    
  }

  .title{
    display: flex;
    justify-content: center;
   
  }
  

  h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
   
    border-bottom: 1px solid #ccc;
  }
  .row{
    display: flex;
    
  }
  .column{
    width: 50%;
  }


  /* Modal.css */
/* ... (existing styles) */

/* Modal.css */
/* ... (existing styles) */

.line-separator {
    border-bottom: 1px solid #ccc; /* Adjust color and size as needed */
    margin-left: 20px;
    width: 50%; /* Set the width to match the width of the selection menu */
  }
  
  .line {
    border-bottom: 1px solid #ccc; /* Adjust color and size as needed */
    width: 50%; /* Set the width to match the width of the selection menu */
  }
  

  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .button-round {
    border-radius: 20px; /* Adjust the border radius to make it round */
    margin-right: 15px;
    /* Add any other styles you need */
  }